
@{
    ViewBag.Title = "Cart";
}



@section Banner{
    <div class="page-heading about-heading header-text" style="background-image: url('../assets/images/heading-6-1920x500.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h2>Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section navBar{
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container" style="padding-right: 0px;">
                <a class="navbar-brand" href=@Url.Action("Index", "Home")><h2>Online Store <em>Website</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item active"><a class="nav-link" href=@Url.Action("Product", "Product")>Product</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                            <div class="dropdown-menu active">
                                <a class="dropdown-item" href=@Url.Action("Blog", "Home")>Blog</a>
                                <a class="dropdown-item" href=@Url.Action("Testimonials", "Home")>Testimonials</a>
                                <a class="dropdown-item" href=@Url.Action("Terms", "Home")>Terms</a>
                            </div>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("About", "Home")>About Us</a></li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Contact", "Home")>Contact Us</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Profile", "User")>Profile</a>
                        </li>
                        <li class="nav-item" style="margin-top: 10px; margin-left: 30px;">
                            <a href=@Url.Action("Cart", "Order")>
                                <span class="lnr lnr-cart">🛒</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}

<div class="products">
    <div class="container">

        <h2 class="text-center">Shopping Cart</h2>
        <br />
        <div class="row">


            @if (Model == null || Model.Count == 0)
            {
                <br />
                <h3>You do not have any products in your Shopping Cart.</h3>
            }
            else
            {
                int total = 0;

                using (Html.BeginForm("Update", "Order", FormMethod.Post, new { @style = "width: 960px; " }))
                {
                    <table id="table" class="align-content-lg-center">
                        <thead>
                            <tr>
                                <td><b>ID Product</b></td>
                                <td><b>Image</b></td>
                                <td><b>Name Product</b></td>
                                <td><b>Quantity</b></td>
                                <td><b>Price</b></td>
                                <td><b>Total Price</b></td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr>
                                    <td>@order.ID_Product</td>
                                    <td><img style="width:120px; height:80px" src=@Url.Content(order.Image) /></td>
                                    <td>@order.Name</td>
                                    <td><input type="number" class="updateItem" name="quantity" value="@order.Quantity" style="width: 35px; text-align: center" /></td>
                                    <td>@order.Price.ToString("#,##") VND</td>
                                    <td>@((order.Price * order.Quantity).ToString("#,##")) VND</td>
                                    <td style="border:none">
                                        <a href="@Url.Action("RemoveFromCart", "Order", new { ID = order.ID })" class="deleteItem" data-id="@order.ID" style="color:red" onclick="return confirm('Are you sure to delete this item?')">Delete</a>
                                    </td>
                                </tr>

                                total += order.Price * order.Quantity;
                            }
                        </tbody>
                    </table>

                    <br />

                    <div class=" row">
                        <div class="col-6">
                            <strong style="margin-left:30px;">Total</strong>
                        </div>

                        <div class="col-6 text-right">
                            <strong style="margin-right: 100px;">@total.ToString("#,##") VND </strong>
                        </div>
                    </div>

                    <br />

                    <div style="float: left; margin-top: 20px;">
                        <a href=@Url.Action("Index", "Home") class="button">Continue Shopping</a>
                        <input class="button" type="submit" id="btnUpdate" value="Update">
                        <a href=@Url.Action("DeleteAll", "Order") class="button" onclick="return confirm('Are you sure to delete all item?')">Delete All</a>
                        <a href=@Url.Action("Checkout", "Order") class="button">Checkout</a>
                    </div>
                }
            }
            <div class="cleaner"></div>
        </div>

        <style>
            a {
                cursor: pointer;
            }

            h3 {
                font-size: medium;
                text-align: center;
                color: red
            }

            .input {
                width: 100%
            }

            #table {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
                text-align: center
            }

                #table td, #table th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }

                #table th {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #4CAF50;
                    color: white;
                }

            .button {
                background-color: #128EB5;
                border: none;
                color: white;
                padding: 5px 15px;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
            }
        </style>

    </div>
</div>