
@{
    ViewBag.Title = "Checkout";
}

@section navBar{
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container" style="padding-right: 0px;">
                <a class="navbar-brand" href=@Url.Action("Index", "Home")><h2>Online Store <em>Website</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Product", "Product")>Product</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                            <div class="dropdown-menu active">
                                <a class="dropdown-item" href=@Url.Action("Blog", "Home")>Blog</a>
                                <a class="dropdown-item" href=@Url.Action("Testimonials", "Home")>Testimonials</a>
                                <a class="dropdown-item" href=@Url.Action("Terms", "Home")>Terms</a>
                            </div>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("About", "Home")>About Us</a></li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Contact", "Home")>Contact Us</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Profile", "User")>Profile</a>
                        </li>

                        <li class="nav-item" style="margin-top: 10px; margin-left: 30px;">
                            <a href=@Url.Action("Cart", "Order")>
                                <span class="lnr lnr-cart">🛒</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}

@section Banner{
    <div class="page-heading about-heading header-text" style="background-image: url(../assets/images/heading-6-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="products">
    <div class="container">
        <h4 style="margin-left:10px;"> <b>User Information</b></h4>
        <br /> <br />

        @{
            var user = ViewBag.user;
        }

        <div class="col col_13 checkout">
            <h5 style="width:400px;"> <b>Full name: </b> @user.FullName </h5>
            <br />
            <h5 style="width:400px;"> <b>Address: </b> @user.Address </h5>
            <br />
            <h5 style="width:400px;"> <b>Phone number: </b> @user.Phone </h5>
            <br />
        </div>

        <br />

        <div class="row">
            <h4 style="margin-left:10px; margin-bottom: 10px;"> <b>Cart Information</b></h4>
            @if (Model == null || Model.Count == 0)
            {
                <br />
                <h3>You do not have any products in your Shopping Cart.</h3>
            }
            else
            {
                int total = 0;
                <table id="table" class="align-content-lg-center">
                    <thead>
                        <tr>
                            <td><b>ID Product</b></td>
                            <td><b>Image</b></td>
                            <td><b>Name Product</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Price</b></td>
                            <td><b>Total Price</b></td>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.ID_Product</td>
                                <td><img style="width:120px; height:80px" src=@Url.Content(order.Image) /></td>
                                <td>@order.Name</td>
                                <td>@order.Quantity </td>
                                <td>@order.Price.ToString("#,##") VND</td>
                                <td>@((order.Price * order.Quantity).ToString("#,##")) VND</td>
                            </tr>

                            total += order.Price * order.Quantity;
                        }
                    </tbody>
                </table>

                <br />
                <div class="col-6" style="margin-top: 20px;">
                    <strong style="margin-left:30px;">Total</strong>
                </div>

                <div class="col-6 text-right" style="margin-top: 20px;">
                    <strong style="margin-right: 30px;">@total.ToString("#,##") VND </strong>
                </div>
                <br />

                <style>
                    a {
                        cursor: pointer;
                    }

                    h3 {
                        font-size: medium;
                        text-align: center;
                        color: red
                    }

                    .input {
                        width: 100%
                    }

                    #table {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                        text-align: center
                    }

                        #table td, #table th {
                            border: 1px solid #ddd;
                            padding: 8px;
                        }

                        #table th {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            text-align: left;
                            background-color: #4CAF50;
                            color: white;
                        }

                    .button {
                        background-color: #128EB5;
                        border: none;
                        color: white;
                        padding: 5px 15px;
                        text-align: center;
                        font-size: 16px;
                        cursor: pointer;
                    }
                </style>
            }
        </div>
    </div>

    <br/>

    <div class="contact-form">
        <div class="clearfix" style="margin-right: 200px;">
            <a href=@Url.Action("Finish", "Order") class="filled-button pull-right">Checkout</a>
            <a href=@Url.Action("Cart", "Order") class="filled-button pull-right" style="margin-right: 20px;">Update Order</a>
        </div>
    </div>
</div>